@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Web.Models.UsuariosViewModel
@{
}
<div class="row pb-5">
    <div class="col-4 offset-4 text-center">
        <h1>
            BALANCE DE LA CUENTA
        </h1>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">NÚMERO DE CUENTA: @Model.NroCuenta</li>
            <li class="list-group-item">FECHA DE VENCIMIENTO: @Model.FechaVencimiento</li>
            <li class="list-group-item">DINERO EN LA CUENTA: @Model.Balance</li>
        </ul>
    </div>
    <div class="col-4 offset-4 text-center p-5">
        @Html.ActionLink("ATRAS","Operaciones","Usuarios",new { NroCuenta = Model.NroCuenta}, new { @class = "btn btn-primary btn-lg" })
        
        <a href="~/Usuarios/Index" class="btn btn-danger btn-lg">SALIR</a>
    </div>
</div>