@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row pb-5">
    <div class="col-6 offset-3 text-center">
        <h1>
            SE HA PRODUCIDO UN ERROR
        </h1>
        <h3>
            (CÓDIGO DE ERROR: @ViewBag.CodigoError)
        </h3>
    </div>
    <div class="col-4 offset-4 p-5 text-center">
        <a href="~/Usuarios/Index" class="btn btn-primary btn-lg">ATRÁS</a>
    </div>
</div>