@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row pb-5">
    <div class="col-4 offset-4 text-center">
        <h1>
            SELECCIONE UNA OPERACIÓN
        </h1>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto p-5">
        <a href="~/Usuarios/Balance.cshtml?nroCuenta=@ViewBag.nroCuenta" class="btn btn-primary" type="button">Balance</a>
        <a href="~/Usuarios/Retiro.cshtml?nroCuenta=@ViewBag.nroCuenta" class="btn btn-primary" type="button">Retiro</a>
    </div>
    <div class="col-4 offset-4 text-center p-5">
        <a class="btn btn-danger btn-lg">SALIR</a>
    </div>
</div>